<ion-header>
  <ion-toolbar>
    <div slot="start">
      <img src="./assets/images/koin-logo-dark.svg" alt="logo">
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <img src="./assets/icons/icon-menu.svg" alt="menu icon">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center" style="margin-bottom: 2rem; margin-top: 2.5rem;">
    <img src="./assets/images/success-img.svg" alt="">
  </div>
  <div style="margin-bottom: 3rem;">
    <div class="ion-text-center title">Game Funded!</div>
    <div class="ion-text-center">You’ve successfully transferred funds to your game. Enjoy playing!</div>
  </div>
  <ion-button color="primary" expand="block" shape="round">DONE</ion-button>
</ion-content>
