<ion-header>
  <ion-toolbar>
    <div slot="start">
      <img src="./assets/images/koin-logo-dark.svg" alt="logo">
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <img src="./assets/icons/icon-menu.svg" alt="menu icon">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="progress-container">
    <div class="progress-bar">
      <div class="progress-line" style="width: 100%;"></div>
    </div>
    <div class="progress-step">2/2</div>
  </div>
  <div class="border-bottom">
    <div class="title">Confirm Transaction</div>
    <div class="text">$25.00</div>
    <div class="text-secondary">Amount to Transfer</div>
  </div>

  <div class="card">
    <div class="details">
      <div class="text-secondary">Source</div>
      <div class="title">Koin Wallet</div>
    </div>
    <div class="details">
      <div class="text-secondary">Destination</div>
      <div class="title">Slot Game - 0034</div>
    </div>
    <div class="details">
      <div class="text-secondary">Amount to Transfer</div>
      <div class="title">$25.00</div>
    </div>
    <div class="details">
      <div class="text-secondary">Transfer Fee</div>
      <div class="title">$0.00</div>
    </div>
  </div>
  <div class="card-2">
    <div class="">By clicking the fund game button below I agree to 
      the <span class="">Koin Terms and Conditions.</span></div>
  </div>
  <ion-button color="primary" expand="block" shape="round" routerLink="/success-screen">FUND GAME</ion-button>
  <ion-button color="grey" expand="block" shape="round">CANCEL</ion-button>
</ion-content>
