// Aventa
@font-face {
  font-family: "Aventa";
  font-weight: 400;
  src: url("../assets/fonts/Aventa/Aventa-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "Aventa";
  font-weight: 500;
  src: url("../assets/fonts/Aventa/Aventa-Medium.otf") format("OpenType");
}

@font-face {
  font-family: "Aventa";
  font-weight: 600;
  src: url("../assets/fonts/Aventa/Aventa-SemiBold.otf") format("OpenType");
}

@font-face {
  font-family: "Aventa";
  font-weight: 700;
  src: url("../assets/fonts/Aventa/Aventa-Bold.otf") format("OpenType");
}

@font-face {
  font-family: "Aventa";
  font-weight: 900;
  src: url("../assets/fonts/Aventa/Aventa-Black.otf") format("OpenType");
}

// Brandon
@font-face {
  font-family: "Brandon";
  font-weight: 500;
  src: url("../assets/fonts/Brandon/Brandon_med.otf") format("OpenType");
}

@font-face {
  font-family: "Brandon";
  font-weight: 900;
  src: url("../assets/fonts/Brandon/Brandon_blk.otf") format("OpenType");
}

// Syne
@font-face {
  font-family: "Syne";
  font-weight: 600;
  src: url("../assets/fonts/Syne-SemiBold.ttf") format("truetype");
}

// Text Security Disc
@font-face {
  font-family: "Text Security Disc";
  font-weight: 400;
  src: url("../assets/fonts/text-security-disc.woff") format("woff");
}