ion-input {
  --border-color: #EBEBEB!important;
  --border-width: 1px!important;
  border: 1px solid #EBEBEB !important;
  border-radius: 10px;
  background: #F6F6F6;
  min-height: 70px!important;
  --padding-start: 1rem!important;
  --padding-end: 1rem!important;
  --placeholder-font-weight: 600;
  transition: border 200ms ease;

  &.has-focus {
    border-color: var(--ion-color-primary)!important;
  }

  input {
    font-weight: bold!important;
    font-family: "Aventa", sans-serif;
    font-size: 24px!important;
    padding-bottom: 4px!important;
  }
}

input {
  font-size: 1.25rem;
  font-weight: 600;
}

.label-text-wrapper {
  top: -4px !important;
  position: relative;
}

.input-clear-icon {
  background-image: url(../assets/icons/icon-clear.svg);
  top: -10px;
  position: relative;

  ion-icon {
    opacity: 0;
  }
}