// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-font-family: "Aventa";
  --ion-padding: 24px;
  --ion-background-color: #F2F6F6;
  --ion-text-color: #404040;
  
  --ion-color-primary: #543D8A;
  --ion-color-primary-rgb: 84, 61, 138;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4a3679;
  --ion-color-primary-tint: #655096;

  --ion-color-success: #29A46A;
  --ion-color-success-rgb: 41, 164, 106;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #24905d;
  --ion-color-success-tint: #3ead79;

  --ion-color-surface-primary: #F2F6F6;
  --ion-color-surface-primary-rgb: 242, 246, 246;
  --ion-color-surface-primary-contrast: #000000;
  --ion-color-surface-primary-contrast-rgb: 0, 0, 0;
  --ion-color-surface-primary-shade: #d5d8d8;
  --ion-color-surface-primary-tint: #f3f7f7;

  --ion-color-text-secondary: #70767E;
  --ion-color-text-secondary-rgb: 112, 118, 126;
  --ion-color-text-secondary-contrast: #ffffff;
  --ion-color-text-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-text-secondary-shade: #63686f;
  --ion-color-text-secondary-tint: #7e848b;
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-success {
  --ion-color-base: var(--ion-color-success);
  --ion-color-base-rgb: var(--ion-color-success-rgb);
  --ion-color-contrast: var(--ion-color-success-contrast);
  --ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb);
  --ion-color-shade: var(--ion-color-success-shade);
  --ion-color-tint: var(--ion-color-success-tint);
}

.ion-color-surface-primary {
  --ion-color-base: var(--ion-color-surface-primary);
  --ion-color-base-rgb: var(--ion-color-surface-primary-rgb);
  --ion-color-contrast: var(--ion-color-surface-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-surface-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-surface-primary-shade);
  --ion-color-tint: var(--ion-color-surface-primary-tint);
}

.ion-color-text-secondary {
  --ion-color-base: var(--ion-color-text-secondary);
  --ion-color-base-rgb: var(--ion-color-text-secondary-rgb);
  --ion-color-contrast: var(--ion-color-text-secondary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-text-secondary-contrast-rgb);
  --ion-color-shade: var(--ion-color-text-secondary-shade);
  --ion-color-tint: var(--ion-color-text-secondary-tint);
}