.btn-connect {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

  img {
    width: 40px;
    height: 40px;
    margin-right: .75rem;
  }

  div {
    span {
      display: block;
      font-weight: 600;

      &:first-child {
        color: var(--ion-color-success);
        font-size: 0.875rem;
      }

      &:last-child {
        color: var(--ion-color-text-secondary);
        font-size: 0.75rem;
      }
    }
  }
}

.predefined-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.75rem;
  margin: 1rem 0;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    color: var(--ion-color-text-secondary);
    flex: 1;
    height: 3.5rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.1rem;
  }

  .selected {
    background-color: var(--ion-color-primary);
    color: #ffffff;
  }
}

ion-list.fund-source {
  background: transparent;
  margin-bottom: 1rem;

  ion-item {
    --background: #F6F6F6;
    --border-color: transparent;
    --min-height: 64px;
    --border-radius: 8px;
    margin-bottom: .75rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border 200ms ease;

    &:has(.radio-checked) {
      --background: rgba(var(--ion-color-primary-rgb), 0.10);
      border-color: var(--ion-color-primary);

      span {
        color: var(--ion-color-primary);
      }

      svg path {
        fill: var(--ion-color-primary);

        &.stroke {
          stroke: var(--ion-color-primary);
        }
      }
    }

    .content {
      display: flex;
      align-items: flex-start;

      img,
      svg {
        margin-right: .75rem;
      }

      div {
        span {
          display: block;
          font-weight: 600;

          &:first-child {
            font-size: 0.875rem;
          }

          &:last-child {
            font-size: .6rem;

            &.balance {
              font-size: 0.75rem !important;
            }
          }
        }
      }
    }

    ion-radio {
      --color: #DFDFDF;
      --color-checked: #DFDFDF;

      &::part(mark) {
        background-color: var(--ion-color-primary);
        width: 14px;
        height: 14px;
      }

      &::part(container) {
        background-color: #DFDFDF;
        width: 22px;
        height: 22px;
      }
    }
  }
}

ion-modal {
  .page-title {
    margin-top: 1rem;
  }

  p {
    margin: 0;
  }

  .modal-handle {
    width: 100px;
  }

  ion-list {
    border-top: 1px solid #e2e2e2 !important;
  }

  ion-item {
    --min-height: 4.125rem;
    --detail-icon-opacity: 1;
    --detail-icon-color: #70767E;
    --padding-start: 24px;
    --padding-end: 24px;    // border-bottom: 1px solid #e2e2e2 !important;

    [slot="start"] {
      display: flex;
      align-items: center;

      img,
      svg {
        margin-right: .75rem;
      }

      div {
        span {
          display: block;
          font-weight: 600;

          &:first-child {
            font-size: 0.875rem;
          }

          &:last-child {
            font-size: .6rem;

            &.balance {
              font-size: 0.75rem !important;
            }
          }
        }
      }
    }
  }
}