/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "./theme/cards.scss";
@import "./theme/fonts.scss";
@import "./theme/inputs.scss";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

$basefont: 16px;

html,
app,
body {
  font-family: "Aventa-Medium", sans-serif;
  font-weight: 500;
  color: #404040;
  font-size: $basefont;
  background: var(--ion-color-surface-primary);
}

ion-header {
  --border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

ion-toolbar {
  --border-width: 0!important;
  --min-height: 64px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

ion-button{
  margin-bottom: 1rem;
  --padding-top: 1.5rem !important;
  --padding-bottom: 1.5rem !important;
  font-weight: 700;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.center{
  display: flex;
  justify-content: center;
}

hr {
  background-color: #F6F6F6;
  height: 2px;
  margin: 1.5rem 0;
}

.progress {
  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0 1.5rem 0;
  }

  &-bar {
    position: relative;
    background: #E7E7E7;
    height: 5px;
    border-radius: 10px;
    flex: 1;
    overflow: hidden;
  }

  &-line {
    position: absolute;
    background: #211F21;
    width: 0%;
    height: 100%;
    left: 0;
    transition: width 250ms ease-in-out;
  }

  &-step {
    width: 36px;
    text-align: right;
    font-weight: 700;
    font-size: 0.85rem;
  }
}

ion-modal {
  .modal-handle::before {
    width: 100px!important;
  }
}