/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "./theme/cards.scss";
@import "./theme/fonts.scss";
@import "./theme/inputs.scss";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

$basefont: 16px;

html,
app,
body {
  font-family: "Aventa-Medium", sans-serif;
  font-weight: 500;
  color: #404040;
  font-size: $basefont;
  background: var(--ion-color-surface-primary);
}

ion-header {
  --border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

ion-toolbar {
  --border-width: 0!important;
  --min-height: 64px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

hr {
  background-color: #F6F6F6;
  height: 2px;
  margin: 1.5rem 0;
}